<div class="pango-form-section" fxLayout="column" fxLayoutAlign="start start" name="filterForm"
  [formGroup]="filterForm">
  <div class="pango-section-body w-100-p">\
    <div class="w-100-p">
      <div class="pango-section-header-sm" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-section-heading">
          <h4 matTooltip="Filter by the general type of functional characteristic" [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="1500">Select GO Function Aspect</h4>
        </div>
        <span fxFlex></span>

      </div>
      <div class="pango-box-radio-group w-100-p" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-box-radio-item" fxFlex="33" fxLayout="column" fxLayoutAlign="start center"
          *ngFor="let aspect of pangoDataService.aspectOption.options"
          (click)="toggleSelection(SearchFilterType.ASPECTS, aspect.id)" matTooltip="{{aspect.description}}"
          [ngClass]="{'pango-active': annotationService.searchCriteria[SearchFilterType.ASPECTS]?.[0] === aspect.id}"
          [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
          <fa-icon class="pango-icon pango-selected-icon" [icon]="['far', 'check-circle']"></fa-icon>

          <img [src]="'assets/images/activity/'+aspect.icon+'.png'">

          {{aspect.label}}
        </div>
      </div>
    </div>
  </div>
</div>