@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

:host {
  @include deep-width(100%);
  @include deep-height(100%);
  display: block;
  background-color: $pango-background;

  .pango-drawer {
    // @include deep-width(300px);
    min-height: calc(100% - 40px);
    // @include mat-elevation(5);
    background-color: $pango-background;
  }

  .pango-checkbox {
    font-size: 12px;
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    //min-height: 30px;
    //  max-width: 200px;
    // text-overflow: ellipsis;
    //  white-space: nowrap;
  }

  .pango-evidence-db-trigger {
    @include deep-height(20px);
    @include deep-width(20px);
    line-height: 20px;

    mat-icon {
      @include pango-icon-size(18px);
    }
  }

  .pango-terms-cell {
    mat-chip {
      text-align: center;
      @include deep-height(18px);
      @include deep-width(18px);
      font-size: 8px;
      font-weight: bold;
      padding: 2px;
      &.MF {
        border: $pango-mf solid 1px;
        color: darken($pango-mf, 10%);
      }

      &.BP {
        border: $pango-bp solid 1px;
        color: darken($pango-bp, 10%);
      }

      &.CC {
        border: $pango-cc solid 1px;
        color: darken($pango-cc, 10%);
      }
    }

    .pango-term-cell {
      padding: 8px 0;
      border-bottom: #bbb solid 1px;
    }

    .pango-cell-title {
      font-size: 12px;
      font-weight: bold;
    }

    .pango-cell-description {
      color: #777;
    }

    .pango-cell-count {
      @include deep-width(50px);
      font-size: 10px;
      text-align: right;
    }
  }

  .pango-filter-form {
    padding-bottom: 200px;

    .pango-form-section {
      width: 100%;
      margin-bottom: 12px;
      border-radius: 8px;
      // background-color: $pango-background;

      .pango-section-header {
        padding-right: 12px;
        height: 40px;
        background-color: transparent;

        .pango-section-heading {
          padding-left: 8px;
          font-size: 12px;
          line-height: 40px;
          color: #555;
        }

        .pango-action-button {
          margin: 0px;
          height: 40px; // line-height: 36px;
        }
      }

      .pango-section-body {
        padding: 16px 8px 16px 8px;

        .pango-activity-group-row {
          margin-bottom: 8px;
        }
      }
    }
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    @include deep-height(25px);
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .pango-chip-label {
      padding: 0 8px 0 4px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.pango-form-chip {
      padding: 0;
      @include deep-height(20px);
      font-size: 10px;

      .pango-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #777;
        font-size: 14px;
      }

      @include pango-chip-color(#bbc9cc);
    }
  }

  input[type="file"] {
    display: none;
  }

  button {
    @include deep-height(35px);

    &.pango-file-button {
      pointer-events: none;
    }
  }

  label {
    padding: 0;
  }

  .pango-file-upload-title {
    margin-left: 4px;
    color: #888;
    font-weight: bold;
  }
}
