<div class="w-100-p" fxLayout="row" fxLayoutAlign="start start">
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start" autosize>
    <mat-drawer #leftDrawer class="pango-right-drawer" mode="side" position="start" opened="true">
      <div class="h-100-p" [ngSwitch]="pangoMenuService.selectedLeftPanel">
        <pango-category-stats></pango-category-stats>
      </div>
    </mat-drawer>
    <mat-drawer-content #scrollbarRef class="pango-section-body w-100-p">
      <div class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
        <pango-summary-stats></pango-summary-stats>
        <pango-annotation-table-long class="w-100-p"></pango-annotation-table-long>
      </div>
      <div class="w-100-p">
        <pango-footer></pango-footer>
      </div>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="pango-right-drawer" mode="over" position="end">
      <div class="h-100-p" [ngSwitch]="pangoMenuService.selectedRightPanel">
        <pango-annotation-detail [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.annotationDetail">
        </pango-annotation-detail>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>