@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

:host {
  width: 100%;

  .pango-left-drawer {
    width: 500px;
    border-right: #111 solid 1px;

    .pango-menu-section {
      width: 100%;
    }
  }

  pango-summary-stats {
    display: block;
    //@include deep-height(300px !important);
  }

  pango-gene-form {
    // @include deep-width(300px !important);
  }

  pango-annotation-detail {
    @include deep-width(500px !important);
  }
  pango-annotation-summary,
  pango-annotation-stats {
    @include deep-width(600px !important);
  }
}

.pango-section-body {
  background-color: $pango-background;
}

.pango-middle-panel {
  min-height: 500px;
  border-bottom: 200px;
}

.pango-gene-form {
  padding: 15px;
  @include deep-width(500px);
}
