@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.pango-aspect-stats {
  //@include deep-width(250px);
  @include deep-height(190px);
  .pango-section-body {
    padding: 8px;
  }
}

.pango-terms-stats {
  // @include deep-width(300px);
  min-height: 450px !important;
}

.pango-stat-count { 
    @include deep-height(120px);
    @include deep-width(250px); 
    background-color: #daead6;
    border-radius: 12px;
  .pango-stat-number {
 
    padding-top: 20px;
    font-size: 40px;
    color: map-get($mat-blue-grey, 500);  
 
  } 

  .pango-stat-label {
    font-size:16px;
  }
  
  small {
      font-weight: normal;
      color: #555;
      font-size: 10px;
    }
}

.pango-stats-section {
  //@include mat-elevation(5);
  margin: 12px;
  background-color: #fff;
  overflow: hidden;
  border: $pango-border; 

  .pango-section-header {
    height: 30px;
    background-color: #fff;

    .pango-section-heading {
      padding-left: 12px;
      font-size: 12px;
      line-height: 30px;
      color: #555; 
    }
  }

  .pango-section-body {
    padding: 4px 8px;
  }
}

.pango-stat-color {
  width: 10px;
  height: 10px;
}

.pango-stat {
  padding-left: 12px;
}
.pango-stat-heading {
  font-size: 10px;
}
.pango-stat-description {
  font-size: 10px;
}
.pango-stat-number {
  cursor: auto;
  font-size: 10px;
  font-weight: bold;
}


.pango-loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.pango-loader:before,
.pango-loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.pango-loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #656295;
  margin-bottom: 10px;
}
.pango-loader:after {
  animation: ball2 1s infinite;
  background-color: #656295;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #656295;
  }
  50% {
    box-shadow: 0 0 0 #656295;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #656295;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}
