<div class="w-100-p" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
    <div class="pango-form-section pango-total-stats" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-section-heading">
          <h3>Annotation Results</h3>
        </div>
        <span fxFlex></span>
      </div>
      <div class="pango-section-body pt-12" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-stat-number">
          {{annotationPage?.total ? annotationPage.total: 0}}<br> <small>Annotations (functional
            characteristics)</small>
        </div>
      </div>
      <div class="pango-section-body pt-12" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-stat-number">
          {{distinctGeneCount}}<br> <small>Genes</small>
        </div>
      </div>
    </div>
    <div class="pango-form-section pango-aspect-stats" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-section-heading">
          <h3>By GO Function Aspect</h3>
        </div>
        <span fxFlex></span>
      </div>
      <div class="pango-section-body" fxLayout="row" fxLayoutAlign="start center">
        <ngx-charts-pie-chart [results]="stats.aspectPie" [view]="aspectPieOptions.view"
          [scheme]="aspectPieOptions.colorScheme" [gradient]="aspectPieOptions.gradient"
          [legend]="aspectPieOptions.legend" [maxLabelLength]="aspectPieOptions.maxLabelLength"
          [labels]="aspectPieOptions.showLabels" [doughnut]="aspectPieOptions.isDoughnut" [customColors]="customColors"
          (select)="aspectPieOptions.onSelect($event)">
        </ngx-charts-pie-chart>

        <div class="pango-stat" fxLayout="column" fxLayoutAlign="start stretch">
          <!-- <div class="pango-stat-heading mb-12" class="h6"> By Aspect</div> -->
          <div *ngFor="let item of this.annotationStats?.aspectFrequency.buckets" fxLayout="row"
            fxLayoutAlign="start center">
            <div class="pango-stat-color mr-8" [style]="{'backgroundColor':aspectMap[item.key].color}">

            </div>
            <div class="pango-stat-description mr-8">
              {{aspectMap[item.key].shorthand}}
            </div>
            <div class="pango-stat-number">
              {{item.docCount}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pango-form-section pango-aspect-stats" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-section-heading">
          <h3>By GO Unknown</h3>
        </div>
        <span fxFlex></span>
      </div>
      <div class="pango-section-body" fxLayout="row" fxLayoutAlign="start center">
        <ngx-charts-pie-chart [results]="stats.isUnknownTermPie" [view]="isUnknownTermPieOptions.view"
          [scheme]="isUnknownTermPieOptions.colorScheme" [gradient]="isUnknownTermPieOptions.gradient"
          [legend]="isUnknownTermPieOptions.legend" [maxLabelLength]="isUnknownTermPieOptions.maxLabelLength"
          [labels]="isUnknownTermPieOptions.showLabels" [doughnut]="isUnknownTermPieOptions.isDoughnut"
          [customColors]="customColors" (select)="isUnknownTermPieOptions.onSelect($event)">
        </ngx-charts-pie-chart>

        <div class="pango-stat" fxLayout="column" fxLayoutAlign="start stretch">
          <!-- <div class="pango-stat-heading mb-12" class="h6"> By Aspect</div> -->
          <div *ngFor="let item of this.annotationStats?.isUnknownTermFrequency.buckets" fxLayout="row"
            fxLayoutAlign="start center">
            <div class="pango-stat-color mr-8" [style]="{'backgroundColor':isUnknownTermMap[item.key].color}">

            </div>
            <div class="pango-stat-description mr-8">
              {{isUnknownTermMap[item.key].label}}
            </div>
            <div class="pango-stat-number">
              {{item.docCount}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pango-form-section pango-aspect-stats" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-section-heading">
          <h3>By Evidence Type</h3>
        </div>
        <span fxFlex></span>
      </div>
      <div class="pango-section-body" fxLayout="row" fxLayoutAlign="start center">
        <ngx-charts-pie-chart [results]="stats.evidenceTypePie" [view]="evidenceTypePieOptions.view"
          [scheme]="evidenceTypePieOptions.colorScheme" [gradient]="evidenceTypePieOptions.gradient"
          [legend]="evidenceTypePieOptions.legend" [maxLabelLength]="evidenceTypePieOptions.maxLabelLength"
          [labels]="evidenceTypePieOptions.showLabels" [doughnut]="evidenceTypePieOptions.isDoughnut"
          [customColors]="customEvidenceColors" (select)="evidenceTypePieOptions.onSelect($event)">
        </ngx-charts-pie-chart>

        <div class="pango-stat" fxLayout="column" fxLayoutAlign="start stretch">
          <!-- <div class="pango-stat-heading mb-12" class="h6"> By Evidence Type</div> -->
          <div *ngFor="let item of this.annotationStats?.evidenceTypeFrequency.buckets" fxLayout="row"
            fxLayoutAlign="start center">
            <!-- <div class="pango-stat-color mr-8" [style]="{'backgroundColor':qualifierMap[item.key].color}">

          </div> -->
            <div class="pango-stat-description mr-8">
              {{item.key}}
            </div>
            <div class="pango-stat-number">
              {{item.docCount}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>