<div class="w-100-p" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
    <div class="pango-form-section" fxLayout="column" fxLayoutAlign="start stretch">

      <div class="" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="pango-section-heading">
            <h3>Current Selections</h3>
          </div>
          <span fxFlex></span>
        </div>
        <div class="w-100-p p-8" fxLayout="row" fxLayoutAlign="start center">
          <div class="pango-stat-count mr-20" fxLayout="column" fxLayoutAlign="start center">
            <div class="pango-stat-number">
              {{geneCount}}
            </div>

            <div *ngIf="!geneCount" class="pango-loader"></div>
            <div class="pango-stat-label">
              Genes
            </div>
          </div>
          <div class="pango-stat-count mr-20" fxLayout="column" fxLayoutAlign="start center">
            <div class="pango-stat-number">
              {{knowledgeCount['known']}}
            </div>
            <div class="pango-stat-label">
              Annotations
            </div>
            <small>(functional characteristics)</small>
          </div>
          <div class="pango-stat-count mr-20" fxLayout="column" fxLayoutAlign="start center">
            <div class="pango-stat-number">
              {{knowledgeCount['unknown']}}
            </div>
            <div class="pango-stat-label">
              Unknown function aspects
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>