@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.pango-aspect-stats {
  //@include deep-width(250px);
  @include deep-height(120px);
  .pango-section-body {
    padding: 8px;
  }
}

.pango-total-stats {
  @include deep-height(100px);
  @include deep-width(100%);
  .pango-stat-number {
    font-size: 36px;
    line-height: 20px;
    color: map-get($mat-blue-grey, 500);
    span {
      font-weight: normal;
      color: #555;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.pango-stats-section {
  //@include mat-elevation(5);
  margin: 12px;
  background-color: #fff;
  overflow: hidden;
  border: $pango-border;

  .pango-section-header {
    height: 30px;
    background-color: #fff;

    .pango-section-heading {
      padding-left: 12px;
      font-size: 12px;
      line-height: 30px;
      color: #555;
    }
  }

  .pango-section-body {
    padding: 4px 8px;
  }
}

.pango-stat {
  padding-left: 12px;
}

.pango-stat-color {
  width: 10px;
  height: 10px;
}

.pango-stat-heading {
  font-size: 10px;
}
.pango-stat-description {
  font-size: 10px;
  line-height: 10px;
}
.pango-stat-number {
  cursor: auto;
  font-size: 10px;
  font-weight: bold;
}
