<div class="w-100-p" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="pango-form-section pango-total-stats" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-section-heading">
          <h3>Annotation Results</h3>
        </div>
        <span fxFlex></span>
      </div>
      <div class="pango-section-body pt-12" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50" class="pango-stat-number">
          {{annotationPage?.total ? annotationPage.total: 0}}<br>
          <span>Annotations</span>
        </div>
        <div fxFlex="50" class="pango-stat-number">
          {{distinctGeneCount}}<br>
          <span>Genes</span>
        </div>
      </div>
    </div>
    <div class="pango-form-section pango-aspect-stats" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-section-heading">
          <h3>GO Function Aspect</h3>
        </div>
        <span fxFlex></span>
      </div>
      <div class="pango-section-body" fxLayout="row" fxLayoutAlign="start center">
        <ngx-charts-pie-chart piechart-remove-margins [results]="stats.aspectPie" [view]="aspectPieOptions.view"
          [gradient]="aspectPieOptions.gradient" [legend]="aspectPieOptions.legend"
          [maxLabelLength]="aspectPieOptions.maxLabelLength" [labels]="aspectPieOptions.showLabels"
          [doughnut]="aspectPieOptions.isDoughnut" [customColors]="customColors"
          (select)="aspectPieOptions.onSelect($event)">
        </ngx-charts-pie-chart>

        <div class="pango-stat" fxLayout="column" fxLayoutAlign="start stretch">
          <!-- <div class="pango-stat-heading mb-12" class="h6"> By Aspect</div> -->
          <div *ngFor="let item of this.annotationStats?.aspectFrequency.buckets" class="mt-4 mb-4" fxLayout="row"
            fxLayoutAlign="start center">
            <div class="pango-stat-color mr-8" [style]="{'backgroundColor':aspectMap[item.key].color}">

            </div>
            <div class="pango-stat-description mr-8">
              {{aspectMap[item.key].shorthand}}
            </div>
            <div class="pango-stat-number">
              {{item.docCount}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pango-form-section pango-aspect-stats" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="pango-section-heading">
          <h3>Knowledge Status</h3>
        </div>
        <span fxFlex></span>
      </div>
      <div class="pango-section-body" fxLayout="row" fxLayoutAlign="start center">
        <ngx-charts-pie-chart piechart-remove-margins [results]="stats.evidenceTypePie"
          [view]="evidenceTypePieOptions.view" [gradient]="evidenceTypePieOptions.gradient"
          [legend]="evidenceTypePieOptions.legend" [maxLabelLength]="evidenceTypePieOptions.maxLabelLength"
          [labels]="evidenceTypePieOptions.showLabels" [doughnut]="evidenceTypePieOptions.isDoughnut"
          [customColors]="customEvidenceColors" (select)="evidenceTypePieOptions.onSelect($event)">
        </ngx-charts-pie-chart>

        <div class="pango-stat" fxLayout="column" fxLayoutAlign="start stretch">
          <!-- <div class="pango-stat-heading mb-12" class="h6"> By Evidence Type</div> -->
          <div *ngFor="let item of this.annotationStats?.evidenceTypeFrequency.buckets" class="mt-4 mb-4" fxLayout="row"
            fxLayoutAlign="start center">
            <div class="pango-stat-color mr-8" [style]="{'backgroundColor':evidenceTypeMap[item.key].color}"> </div>
            <div class="pango-stat-description mr-8">
              {{evidenceTypeMap[item.key].label}} <br>
              <small>{{evidenceTypeMap[item.key].hint}}</small>
            </div>
            <div class="pango-stat-number">
              {{item.docCount}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>