<div *ngIf="genes && dataSource" class="w-100-p h-100-p p-12" fxLayout="row" fxLayoutAlign="start start">

  <div class="w-100-p h-100-p " fxLayout="column" fxLayoutAlign="start stretch">
    <!--     <div class="legend">
          <div fxFlex="40px" matTooltip="{{evidenceTypeMap[item.evidenceType]?.iconTooltip}}"
                  [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
        <span class="pango-evidence-type D" fxLayout="column" fxLayoutAlign="center center">
          <fa-icon class="pango-icon" [icon]="['fas', 'flask']"></fa-icon>
          <span class="pango-label">
            D
          </span>
        </span>
      </div>
      = Direct Evidence

          <div fxFlex="40px" matTooltip="{{evidenceTypeMap[item.evidenceType]?.iconTooltip}}"
                  [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
        <span class="pango-evidence-type H" fxLayout="column" fxLayoutAlign="center center">
          <fa-icon class="pango-icon" [icon]="['fas', 'flask']"></fa-icon>
          <span class="pango-label">
            H
          </span>
        </span>
      </div>
      = Homology Evidence
    </div> -->
    <table mat-table [dataSource]="dataSource" class="pango-annotation-table">
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef class="pango-expand-cell">

        </th>
        <td mat-cell *matCellDef="let element" class="pango-expand-cell">
          <button mat-icon-button (click)="toggleExpand(element)" color="primary" class="pango-toggle-expand-button">
            <fa-icon *ngIf="!element.expanded" [icon]="['fas', 'caret-right']"></fa-icon>
            <fa-icon *ngIf="element.expanded" [icon]="['fas', 'caret-down']"></fa-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="gene">
        <th mat-header-cell *matHeaderCellDef class="pango-gene-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div matTooltip="Information about the gene and the protein(s) it encodes, and links to more details."
              [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
              Gene
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="pango-gene-cell">
          <div class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
            <div class="w-100-p pango-cell-description">
              <a [routerLink]="'/gene/'+element.gene" target="_blank">
                {{element.geneSymbol}}
              </a>
              (<a [href]="taxonApiUrl+element.taxonId" target="_blank">
                {{element.taxonAbbr}}
              </a> )
            </div>
            <div class="w-100-p pango-cell-description-2">{{element.geneName}}</div>
            <div class="w-100-p pango-cell-title mr-8">
              <a href="{{getUniprotLink(element)}}" target="_blank">
                {{element.gene}}
              </a>
            </div>
            <div *ngIf="element.coordinatesChrNum" class="pango-cell-coordinates">
              <a [href]="getUcscLink(element)" target="_blank">
                chr{{element.coordinatesChrNum}}:{{element.coordinatesStart}}-{{element.coordinatesEnd}}
              </a>
            </div>
            <div *ngIf="element.pantherFamily" class="w-100-p pango-cell-title mr-8">
              <a [href]="getFamilyLink(element)" target="_blank">
                {{element.pantherFamily}}
              </a>
            </div>
            <a [routerLink]="'/gene/'+element.gene" target="_blank">
              <small>View all functions and evidence</small>
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="mfs">
        <th mat-header-cell *matHeaderCellDef class="pango-terms-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div
                matTooltip="What a protein encoded by a gene does at the molecular level. Click on a GO identifier for more information about a GO term."
                [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
                Molecular Function
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="pango-terms-cell">
          <ng-container *ngFor="let item of element.mfs; let i=index">
            <div *ngIf="i<element.maxTerms" class="w-100-p">
              <div class="pango-cell-title w-100-p {{evidenceTypeMap[item.evidenceType]?.shorthand}}" fxLayout="row"
                fxLayoutAlign="start center">
                <div fxFlex="40px" matTooltip="{{evidenceTypeMap[item.evidenceType]?.iconTooltip}}"
                  [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
                  <span class="pango-evidence-type" fxLayout="column" fxLayoutAlign="center center">
                    <fa-icon class="pango-icon" [icon]="['fas', 'flask']"></fa-icon>
                    <span class="pango-label">
                      {{evidenceTypeMap[item.evidenceType]?.shorthand}}
                    </span>
                  </span>
                </div>
                <div fxFlex="">
                  <!--     <span class="pango-circle-chip pango-chip-xs pango-aspect {{aspectMap[item.aspect]?.shorthand}}"
                  fxLayout="column" fxLayoutAlign="center center">
                  {{aspectMap[item.aspect]?.shorthand}}
                </span> -->
                  <span class="pango-cell-description mr-4"> {{item.label}}
                    <span *ngIf="item.displayId" class="pango-cell-description-2">
                      <a href="{{amigoTermUrl}}{{item.id}}" target="_blank">{{item.displayId}}</a>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="pango-cell-inner-section" *ngIf="element.maxTerms < element.mfs.length">
            <a (click)="toggleExpand(element)"> — View {{element.mfs.length- element.maxTerms}} more
              Molecular Function(s)
            </a>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="bps">
        <th mat-header-cell *matHeaderCellDef class="pango-terms-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div
                matTooltip="System functions, at the level of the cell or whole organism, that the gene helps to carry out. Click on a GO identifier for more information about a GO term"
                [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
                Biological Process
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="pango-terms-cell">
          <ng-container *ngFor="let item of element.bps; let i=index">
            <div *ngIf="i<element.maxTerms" class="w-100-p">
              <div class="pango-cell-title w-100-p  {{evidenceTypeMap[item.evidenceType]?.shorthand}}" fxLayout="row"
                fxLayoutAlign="start center">
                <div fxFlex="40px" matTooltip="{{evidenceTypeMap[item.evidenceType]?.iconTooltip}}"
                  [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
                  <span class="pango-evidence-type" fxLayout="column" fxLayoutAlign="center center">
                    <fa-icon class="pango-icon" [icon]="['fas', 'flask']"></fa-icon>
                    <span class="pango-label">
                      {{evidenceTypeMap[item.evidenceType]?.shorthand}}
                    </span>
                  </span>
                </div>
                <div fxFlex="">
                  <!--     <span class="pango-circle-chip pango-chip-xs pango-aspect {{aspectMap[item.aspect]?.shorthand}}"
                  fxLayout="column" fxLayoutAlign="center center">
                  {{aspectMap[item.aspect]?.shorthand}}
                </span> -->
                  <span class="pango-cell-description mr-4"> {{item.label}}
                    <span *ngIf="item.displayId" class="pango-cell-description-2">
                      <a href="{{amigoTermUrl}}{{item.id}}" target="_blank">{{item.displayId}}</a>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="pango-cell-inner-section" *ngIf="element.maxTerms < element.bps.length">
            <a (click)="toggleExpand(element)"> — View {{element.bps.length- element.maxTerms}} more
              Biological Process(s)
            </a>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="ccs">
        <th mat-header-cell *matHeaderCellDef class="pango-terms-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div
                matTooltip="The part of a cell where the protein encoded by the gene is active. Click on a GO identifier for more information about a GO term"
                [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
                Cellular Component
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="pango-terms-cell">
          <ng-container *ngFor="let item of element.ccs; let i=index">
            <div *ngIf="i<element.maxTerms" class="w-100-p">
              <div class="pango-cell-title w-100-p  {{evidenceTypeMap[item.evidenceType]?.shorthand}}" fxLayout="row"
                fxLayoutAlign="start center">
                <div fxFlex="40px" matTooltip="{{evidenceTypeMap[item.evidenceType]?.iconTooltip}}"
                  [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500">
                  <span class="pango-evidence-type" fxLayout="column" fxLayoutAlign="center center">
                    <fa-icon class="pango-icon" [icon]="['fas', 'flask']"></fa-icon>
                    <span class="pango-label">
                      {{evidenceTypeMap[item.evidenceType]?.shorthand}}
                    </span>
                  </span>
                </div>
                <div fxFlex="">
                  <!--     <span class="pango-circle-chip pango-chip-xs pango-aspect {{aspectMap[item.aspect]?.shorthand}}"
                  fxLayout="column" fxLayoutAlign="center center">
                  {{aspectMap[item.aspect]?.shorthand}}
                </span> -->
                  <span class="pango-cell-description mr-4"> {{item.label}}
                    <span *ngIf="item.displayId" class="pango-cell-description-2">
                      <a href="{{amigoTermUrl}}{{item.id}}" target="_blank">{{item.displayId}}</a>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="pango-cell-inner-section" *ngIf="element.maxTerms < element.ccs.length">
            <a (click)="toggleExpand(element)"> — View {{element.ccs.length- element.maxTerms}} more
              Cellular Component(s)
            </a>
          </div>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; " [ngClass]="{'pango-row-selected': false}">
      </tr>
    </table>
    <mat-paginator *ngIf="annotationPage?.total>0" class="pango-paginator pango-drawer-footer" #paginator
      [length]="annotationPage.total" [pageIndex]="annotationPage.pageNumber" [pageSize]="annotationPage.size"
      (page)="pageEvent = $event; setPage($event)">
    </mat-paginator>
  </div>

</div>
<div *ngIf="annotationService.loading" class="pango-loading-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner class="example-margin" [color]="loadingSpinner.color" [mode]="loadingSpinner.mode">
  </mat-progress-spinner>
</div>

<div *ngIf="!annotationPage" class="w-100-p h-100-p" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="pango-no-info">
    No Results
  </div>
</div>