@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

pango-term-form {
  @include deep-width(100% !important);
  display: block;
}

.pango-terms-cell {
  mat-chip {
    display: inline-block !important;
    text-align: center;
    @include deep-height(18px);
    @include deep-width(18px);
    font-size: 8px;
    font-weight: bold;
    padding: 2px;
    &.MF {
      border: $pango-mf solid 1px;
      color: darken($pango-mf, 10%);
    }

    &.BP {
      border: $pango-bp solid 1px;
      color: darken($pango-bp, 10%);
    }

    &.CC {
      border: $pango-cc solid 1px;
      color: darken($pango-cc, 10%);
    }
  }

  .pango-bar-container {
    cursor: pointer;
    position: relative;
    //@include deep-width(200px);
    .pango-cell-count {
      padding: 0 4px;
      position: absolute;
      top: 5px;
      border-radius: 8px;
      font-size: 8px;
      background-color: #f2f2f2;
      border: #222 solid 1px;
    }
  }

  .pango-stat-bar {
    @include deep-height(20px);
  }

  .pango-term-cell {
    padding: 8px 0;
    border-bottom: #bbb solid 1px;
  }

  .pango-cell-title {
    font-size: 12px;
  }

  .pango-cell-description {
    font-size: 8px;
  }

  .pango-cell-description-2 {
    font-size: 8px;
    color: #777;
    font-style: italic;
  }
}

.pango-stat-heading {
  font-size: 10px;
}
.pango-stat-description {
  font-size: 10px;
}
