<div class="w-100-p" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="pango-form-section  pango-terms-stats h-100-p" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
      <div class="pango-section-heading">
        <h3>GO Function Category Distribution </h3>
      </div>
      <span fxFlex></span>

    </div>
    <div class="pango-section-body pango-terms-cell" fxLayout="column" fxLayoutAlign="start stretch">

      <pango-term-form> </pango-term-form>
      <!-- <p class="pango-alert alert-info">Click to filter by category</p>
 -->
      <div *ngIf="showCategories" class="pango-activity-term-row" fxLayout="column">
        <div *ngFor="let item of stats?.slimTermFrequencyBar" class="w-100-p pango-term-cell"
          (click)="selectSlimTerm(item)" fxLayout="row" fxLayoutAlign="start center">
          <mat-chip class="pango-chip-xs mr-4 pango-aspect {{item.aspectShorthand}}" fxLayout="column"
            fxLayoutAlign="center center">
            <span>{{item.aspectShorthand}}</span>
          </mat-chip>
          <div class="" fxFlex="100px" fxLayout="column" fxLayoutAlign="start start">
            <div class="pango-cell-title w-100-p">
              <span class="pango-cell-description pango-truncate"> {{item.label}}</span>
              <span class="pango-cell-description-2 pango-truncate">{{item.displayId}}</span>
            </div>
          </div>
          <div fxFlex="" class="pango-bar-container">
            <div class="pango-stat-bar" [style.background-color]="item.color" [style.width]='item.width'>
            </div>
            <div class="pango-cell-count" [style.left]='item.countPos'>
              {{ item.count }} genes
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <ngx-charts-bar-horizontal [results]="stats.slimTermFrequencyBar" [view]="slimTermFrequencyBarOptions.view"
        [scheme]="slimTermFrequencyBarOptions.colorScheme" [gradient]="slimTermFrequencyBarOptions.gradient"
        [xAxis]="slimTermFrequencyBarOptions.showXAxis" [yAxis]="slimTermFrequencyBarOptions.showYAxis"
        [legend]="slimTermFrequencyBarOptions.legend" [showXAxisLabel]="slimTermFrequencyBarOptions.showXAxisLabel"
        [maxYAxisTickLength]="slimTermFrequencyBarOptions.maxYAxisTickLength"
        [showYAxisLabel]="slimTermFrequencyBarOptions.showYAxisLabel"
        [yAxisLabel]="slimTermFrequencyBarOptions.yAxisLabel" [xAxisLabel]="slimTermFrequencyBarOptions.xAxisLabel"
        (select)="slimTermFrequencyBarOptions.onSelect($event)">
      </ngx-charts-bar-horizontal> -->
</div>