@use "@angular/material" as mat;
@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  overrep-form {
    --overrep-height: 270px;
    --overrep-width: 100%;
    --overrep-font-size: 12px;
  }

  small {
    color: #fff;
  }

  @include deep-width(100% !important);
  textarea {
    background-color: #fff !important;
  }

  .pango-submit-btn {
    background-color: #344f30;
    color: #fff;
  }
}
