<div class="w-100-p" pangoPerfectScrollbar>

    <div class="pango-body pango-section section-1">
        <div class="pango-container pango-sm-container" fxLayout="column" fxLayoutAlign="start stretch">
            <h1>About</h1>
            <p>
                The Annotation Query (Pango) is an integrated functional annotation platform for large-scale
                annotationtic
                variant annotation. The backend of the system is a large collection of pre-annotated variants from the
                Haplotype Reference Consortium (HRC) (~39 million) with sequence features (by WGSA) and functions
                (PANGO and Gene Ontology). Currently only human variants are supported. The data is built in an
                Elasticsearch framework and an API was built to
                allow users to quickly access the annotation data, with one of the following three ways (see attached
                figures).
            </p>
            <ol>
                <li>Interactive web interface.</li>
                <li>API data access using command line scripts.</li>
                <li>Programming packages, e.g., R package.</li>
            </ol>
            <h2>Team members</h2>
            <ul>
                <li><strong> Ebert, Dustin</strong> (bioinformatics programmer, GO and PANGO data)</li>
                <li><strong> Liu, Zhu</strong> (PhD student, lead developer, overall architecture)</li>
                <li><strong> Mi, Huaiyu</strong> (Principal Investigator)</li>
                <li><strong> Mills, Caitlin</strong> (PhD student, PEREGRINE development)</li>
                <li><strong> Muruganujan, Anushya</strong> (software engineer, GO and PANGO data)</li>
                <li><strong> Mushayahama, Tremayne</strong> (software engineer, Pango Website)</li>
                <li><strong> Queme, Bryan</strong> (PhD student, Pango Development)</li>
            </ul>
            <h2>Funding</h2>
            <p>
                Pango project is supported by a P01 grant from the National Cancer Institute (P01CA19656
            </p>
        </div>
    </div>
    <pango-footer></pango-footer>
</div>