<div *ngIf="genePage" class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <!--  <div class="panther-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <div class="panther-sidemenu-header" fxLayout="row" fxLayoutAlign="center center">
      Tools
    </div>
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherMenuService.selectedRightPanel === RightPanel.geneSearch}"
      (click)="openGeneSearch()" matTooltip="Search and Filter" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <div class="panther-label">
        Filter
      </div>
    </button>
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherMenuService.selectedRightPanel === RightPanel.geneSummary}"
      (click)="openGeneSummary()" matTooltip="genes summary" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'list']"></fa-icon>
      <div class="panther-label">
        Summary
      </div>
    </button>
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherMenuService.selectedRightPanel === RightPanel.geneStats}"
      (click)="openGeneStats()" matTooltip="Results Statistics" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
      <div class="panther-label">
        Stats
      </div>
    </button>
  </div> -->
  <div class="w-100-p h-100-p panther-drawer" fxLayout="column" fxLayoutAlign="start streych">
    <div class="panther-drawer-header" fxLayout="row" fxLayoutAlign="start center">
      <div class="panther-section-heading" fxLayout="row" fxLayoutAlign="start center">
        <div class="mr-12">
          <span class="mr-8">Results:</span> <strong>({{genePage.total}})</strong>
        </div>
        <div (click)="openGeneSearch()" *ngIf="geneService.searchCriteria.filtersCount > 0" class="mr-12">
          <span class="mr-8">Filters:</span> <strong>({{geneService.searchCriteria.filtersCount}})</strong>
        </div>
      </div>
    </div>

    <div class="panther-drawer-body" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
      <table fxFlex="1 1 auto" mat-table [dataSource]="dataSource" class="panther-gene-table">
        <ng-container matColumnDef="gene">
          <th mat-header-cell *matHeaderCellDef class="panther-gene-cell">
            <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
              <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
                <div>
                  Gene
                </div>
                <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="panther-gene-cell">
            {{element.gene}}
          </td>
        </ng-container>
        <ng-container matColumnDef="term">
          <th mat-header-cell *matHeaderCellDef class="panther-term-cell">
            <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
              <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
                <div>
                  Term
                </div>
                <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
              </div>
              <button mat-button color=""
                class="panther-rounded-button panther-xs mr-4 panther-half-button panther-r ml-12"
                (click)="addExistFilter('term')" matTooltip="Filter" [matTooltipPosition]="'after'"
                [matTooltipShowDelay]="1500">
                <fa-icon [icon]="['fas', 'filter']"></fa-icon>
              </button>
              <button mat-button color="" class="panther-rounded-button  panther-xs mr-4 panther-half-button panther-l"
                (click)="getStats('term')" matTooltip="Results Statistics for term" [matTooltipPosition]="'after'"
                [matTooltipShowDelay]="1500">
                <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
              </button>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="panther-term-cell">
            {{element.term}}
          </td>
        </ng-container>
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef class="panther-reference-cell">
            <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
              <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
                <div>
                  Reference
                </div>
                <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
              </div>
              <button mat-button color=""
                class="panther-rounded-button panther-xs mr-4 panther-half-button panther-r ml-12"
                (click)="addExistFilter('reference')" matTooltip="Filter" [matTooltipPosition]="'after'"
                [matTooltipShowDelay]="1500">
                <fa-icon [icon]="['fas', 'filter']"></fa-icon>
              </button>
              <button mat-button color="" class="panther-rounded-button  panther-xs mr-4 panther-half-button panther-l"
                (click)="getStats('reference')" matTooltip="Results Statistics for reference"
                [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
                <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
              </button>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="panther-reference-cell">
            {{element.reference}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'panther-row-selected': false}"
          (click)="selectGene(row)"></tr>
      </table>
    </div>
    <mat-paginator *ngIf="genePage?.total>0" class="panther-paginator panther-drawer-footer" #paginator
      [length]="genePage.total" [pageIndex]="genePage.pageNumber" [pageSize]="genePage.size"
      (page)="pageEvent = $event; setPage($event)">
    </mat-paginator>
  </div>

</div>
<div *ngIf="geneService.loading" class="panther-loading-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner class="example-margin" [color]="loadingSpinner.color" [mode]="loadingSpinner.mode">
  </mat-progress-spinner>
</div>

<div *ngIf="!genePage" class="w-100-p h-100-p" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="panther-no-info">
    No Results
  </div>
</div>