$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

mat-radio-button {
  &.pango-radio-button-rounded {
    padding: 0 10px;
    @include deep-height(30px);
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
    border: rgba(map-get($accent, default), 0.7) solid 1px;
    border-radius: 15px;

    &.mat-radio-checked {
      background-color: rgba(map-get($accent, default), 0.2);
      border-color: rgba(map-get($accent, default), 0.9);
    }

    .mat-radio-container,
    .mat-radio-outer-circle,
    .mat-radio-inner-circle {
      height: 15px;
      width: 15px;
    }

    &.pango-xxs {
      padding: 0 5px;
      @include deep-height(20px);
      line-height: 20px;
      font-size: 10px;
      border-radius: 10px;
      font-weight: normal;
    }

    &.pango-xs {
      border-radius: 12px;
      @include deep-height(24px);
      line-height: 24px;
      font-size: 12px;
      font-weight: normal;
    }

    &.pango-sm {
      border-radius: 15px;
      @include deep-height(30px);
      line-height: 30px;
      font-size: 12px;
      font-weight: normal;
    }
  }
  &.pango-radio-button-flat {
    padding: 0 10px;
    @include deep-height(30px);
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 15px;

    &.mat-radio-checked {
      background-color: rgba(map-get($accent, default), 0.2);
      border-color: rgba(map-get($accent, default), 0.9);
    }

    .mat-radio-container,
    .mat-radio-outer-circle,
    .mat-radio-inner-circle {
      height: 15px;
      width: 15px;
    }

    &.pango-xxs {
      padding: 0 5px;
      @include deep-height(20px);
      line-height: 20px;
      font-size: 10px;
      border-radius: 10px;
      font-weight: normal;
    }

    &.pango-xs {
      border-radius: 12px;
      @include deep-height(24px);
      line-height: 24px;
      font-size: 12px;
      font-weight: normal;
    }

    &.pango-sm {
      border-radius: 15px;
      @include deep-height(30px);
      line-height: 30px;
      font-size: 12px;
      font-weight: normal;
    }
  }
}
.mat-autocomplete-panel {
  &.pango-entity-autocomplete {
    @include deep-width(500px !important);
    background-color: #def2fb;

    .mat-option {
      padding: 8px !important;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 18px !important;
      white-space: normal !important;

      .pango-term-id {
        font-size: 10px;
        //margin-right:
      }

      .pango-term-label {
        font-size: 12px;
        //margin-right:
      }
    }
  }
  &.pango-term-autocomplete {
    @include deep-width(500px !important);
    background-color: #def2fb;

    .mat-option {
      padding: 8px !important;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 18px !important;
      white-space: normal !important;

      mat-chip {
        text-align: center;
        @include deep-height(18px);
        @include deep-width(18px);
        font-size: 8px;
        font-weight: bold;
        padding: 2px;
        &.MF {
          border: $pango-mf solid 1px;
          color: darken($pango-mf, 10%);
        }

        &.BP {
          border: $pango-bp solid 1px;
          color: darken($pango-bp, 10%);
        }

        &.CC {
          border: $pango-cc solid 1px;
          color: darken($pango-cc, 10%);
        }
      }

      .pango-term-cell {
        padding: 8px 0;
        border-bottom: #bbb solid 1px;
      }

      .pango-cell-title {
        font-size: 12px;
        font-weight: bold;
      }

      .pango-cell-description {
        color: #777;
      }

      .pango-cell-count {
        @include deep-width(50px);
        font-size: 10px;
        text-align: right;
      }
    }
  }

  &.pango-gene-autocomplete {
    @include deep-width(500px !important);
    background-color: #def2fb;

    .mat-option {
      padding: 8px !important;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 18px !important;
      white-space: normal !important;

      .pango-gene-id {
        font-size: 10px;
        //margin-right:
      }

      .pango-gene-label {
        font-size: 12px;
        //margin-right:
      }
      .pango-gene-description {
        font-size: 10px;
        //margin-right:
      }
    }
  }
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
