@use "@angular/material" as mat;
@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  @include deep-width(100%);
  display: block;
  background-color: white;
  @include mat.elevation(4);

  .pango-drawer {
    @include deep-width(100%);

    .pango-select-bar {
      @include deep-height(70px);
      padding-top: 10px;
    }

    .pango-tab-bar {
      @include deep-height(40px);
      padding-top: 10px;
      .pango-tab-button {
        @include deep-height(30px);
        min-width: 20px;
        padding: 0 16px;
        line-height: 12px;
        font-size: 12px;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: #bbb solid 1px;
        border-bottom: #eee solid 3px;
        color: #777;

        &.pango-active {
          border-bottom: $pango-primary-color solid 3px;
          background-color: #ccc;
          color: #000;
        }
      }
    }

    .pango-drawer-body {
      border-top: #888 solid 1px;
      padding: 24px 8px 100px 0;
      min-height: calc(100% - 80px);
    }
  }

  .pango-body {
    padding: 0 14px 14px 14px;
  }
}
