$pango-border-color: #bbb;

.pango-rounded-button {
  border-radius: 20px !important;
  @include deep-height(40px);
  line-height: 40px;
  font-size: 14px;
  font-weight: normal;

  &.pango-xxs {
    padding: 0 5px;
    @include deep-height(20px!important);
    line-height: 20px;
    font-size: 10px;
    border-radius: 10px !important;
    font-weight: normal;
  }

  &.pango-xs {
    border-radius: 12px !important;
    @include deep-height(24px!important);
    line-height: 24px;
    font-size: 12px;
    font-weight: normal;
  }

  &.pango-sm {
    border-radius: 15px !important;
    @include deep-height(30px!important);
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
  }
}

.pango-half-button {
  &.pango-r {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-right: 2px;
  }

  &.pango-m {
    border-radius: 0 !important;
    margin-right: 2px;
  }

  &.pango-l {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
