@import "theming";
@import "mixins/breakpoints";
$pango-secondary-color: #995014;
$pango-mf: #7cd488;
$pango-bp: #f4c89c;
$pango-cc: #d3b5f5;

$pango-border: #aaa solid 1px;

@mixin deep-width($number) {
  width: $number;
  min-width: $number;
  max-width: $number;
}

@mixin deep-height($number) {
  height: $number;
  min-height: $number;
  max-height: $number;
}

@mixin pango-icon-size($number) {
  font-size: $number;
  @include deep-width($number);
  @include deep-height($number);
}

@mixin pango-chip-color($color) {
  border: $color solid 1px;
  background-color: rgba($color, 0.2);

  .pango-icon {
    background-color: $color;
  }
}

.pango-circle-chip {
  border-radius: 50%;
  display: inline-block !important;
  text-align: center;
  @include deep-height(18px);
  @include deep-width(18px);
  font-size: 8px;
  font-weight: bold;
  padding: 2px;
  &.MF {
    border: $pango-mf solid 1px;
    color: darken($pango-mf, 10%);
  }

  &.BP {
    border: $pango-bp solid 1px;
    color: darken($pango-bp, 10%);
  }

  &.CC {
    border: $pango-cc solid 1px;
    color: darken($pango-cc, 10%);
  }
}

.pango-container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 1000px;

  @include media-breakpoint("xs") {
    width: 100%;
  }
}

.pango-search-database-dialog {
  @include deep-height(90%);
  @include deep-width(1100px);
}

input[type="file"] {
  display: none;
}

textarea {
  resize: none !important;
  overflow: hidden;
}

.mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    bottom: 0;
  }

  &.pango-sm {
    .mat-form-field-wrapper {
      font-size: 12px;
    }
  }

  &.pango-white {
    .mat-form-field-wrapper {
      background-color: #fff;
      //@include mat-elevation(5);
      border: $pango-border;
    }
  }
}

.pango-dropdown-menu {
  .pango-menu-heading {
    margin: 0;
    padding: 10px 14px;
    background-color: #e2e2e2;
  }

  .pango-item {
    @include deep-height(30px);
    margin: 0;
    padding: 10px 14px;
  }
}

.pango-paginator {
  overflow: hidden;
  @include deep-height(40px);
  background-color: #ddd;

  .mat-paginator-container {
    @include deep-height(40px !important);
  }
}

input[type="text"] {
  &.pango-textbox-legacy {
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    border: 1px solid #bbb;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.pango-button-border {
  border: 1px solid #bbb;
  height: 36px;
  line-height: 36px;
  @include deep-width(36px);
  border-radius: 0;
  background-color: #f2f2f2;
}

.pango-truncate {
  display: block;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pango-page-container {
  width: 100%;
  padding: 20px;
}

.pango-breadcrumbs {
  .pango-breadcrumb {
    font-size: 20px;
    color: #777;

    button {
      font-size: 20px;
      color: #999;
      padding-left: 8px;
      padding-right: 8px;
    }

    &.pango-active {
      color: #000;
    }
  }

  mat-icon {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.pango-alert {
  padding: 16px;
  background: #607d8b !important;
  border-left: 6px solid #37474f;
  color: rgba(255, 255, 255, 1);

  &.alert-success {
    color: #285b2a !important;
    background: #dbefdc !important;
    border-left-color: #cde9ce;

    a {
      color: #18381a;
    }
  }

  &.alert-info {
    color: #00626e !important;
    background: #ccf2f6 !important;
    border-left-color: #b8ecf3;

    a {
      color: #00353b !important;
    }
  }

  &.alert-warning {
    color: #854f00 !important;
    background: #ffeacc !important;
    border-left-color: #ffe2b8;

    a {
      color: #523100 !important;
    }
  }

  &.alert-error {
    color: #7f231c !important;
    background: #fdd9d7 !important;
    border-left-color: #fccac7;

    a {
      color: #551713 !important;
    }
  }
}

/**
     * Backgrounds
     */
$color-bg-darkest: #13141b;
$color-bg-darker: #1b1e27;
$color-bg-dark: #232837;
$color-bg-med: #2f3646;
$color-bg-light: #455066;
$color-bg-lighter: #5b6882;

/**
        * Text
        */
$color-text-dark: #72809b;
$color-text-med-dark: #919db5;
$color-text-med: #a0aabe;
$color-text-med-light: #d9dce1;
$color-text-light: #f0f1f6;
$color-text-lighter: #fff;

.ngx-charts {
  text {
    fill: map-get($mat-blue-grey, 800);
    font-size: 8px !important;
  }

  .tooltip-anchor {
    fill: rgb(255, 255, 255);
  }

  .gridline-path {
    stroke: $color-bg-med;
  }

  .refline-path {
    stroke: $color-bg-light;
  }

  .reference-area {
    fill: #fff;
  }

  .grid-panel {
    &.odd {
      rect {
        fill: rgba(255, 255, 255, 0.05);
      }
    }
  }

  .force-directed-graph {
    .edge {
      stroke: $color-bg-light;
    }
  }

  .number-card {
    p {
      color: $color-text-light;
    }
  }

  .gauge {
    .background-arc {
      path {
        fill: $color-bg-med;
      }
    }

    .gauge-tick {
      path {
        stroke: $color-text-med;
      }

      text {
        fill: $color-text-med;
      }
    }
  }

  .linear-gauge {
    .background-bar {
      path {
        fill: $color-bg-med;
      }
    }

    .units {
      fill: $color-text-dark;
    }
  }

  .timeline {
    .brush-background {
      fill: rgba(255, 255, 255, 0.05);
    }

    .brush {
      .selection {
        fill: rgba(255, 255, 255, 0.1);
        stroke: #aaa;
      }
    }
  }

  .polar-chart .polar-chart-background {
    fill: rgb(30, 34, 46);
  }
  .chart-legend {
    .legend-labels {
      font-size: 12px !important;
      background: rgba(255, 255, 255, 0.05) !important;
    }

    .legend-item {
      &:hover {
        color: #fff;
      }
    }

    .legend-label {
      &:hover {
        color: #fff !important;
      }

      .active {
        .legend-label-text {
          color: #fff !important;
        }
      }
    }

    .scale-legend-label {
      color: $color-text-med;
    }
  }

  .number-card .number-card-label {
    font-size: 0.8em;
    color: $color-text-med;
  }
}
