<!-- <div class="pango-table-form pango-form-section" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="pango-section-heading">
      Number of terms
    </div>
    <span fxFlex></span>
  </div>
  <div class="pango-section-body" fxLayout="column" fxLayoutAlign="start stretch">
    <ngx-charts-bar-vertical-stacked [results]="stats.exists" [view]="existsOptions.view"
      [scheme]="existsOptions.colorScheme" [gradient]="existsOptions.gradient" [xAxis]="existsOptions.showXAxis"
      [yAxis]="existsOptions.showYAxis" [legend]="existsOptions.legend" [showXAxisLabel]="existsOptions.showXAxisLabel"
      [showYAxisLabel]="existsOptions.showYAxisLabel" [xAxisLabel]="existsOptions.xAxisLabel"
      [yAxisLabel]="existsOptions.yAxisLabel" [animations]="existsOptions.animations"
      [customColors]="existsOptions.customColors">
    </ngx-charts-bar-vertical-stacked>
  </div>
</div>-->
<div class="pango-table-form pango-form-section" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="pango-section-heading">
      Annotation Values Exist
    </div>
    <span fxFlex></span>
  </div>
  <div class="pango-section-body" fxLayout="column" fxLayoutAlign="start stretch">
    <ngx-charts-pie-chart [results]="stats.existsPie" [view]="existsPieOptions.view"
      [scheme]="existsPieOptions.colorScheme" [gradient]="existsPieOptions.gradient" [legend]="existsPieOptions.legend"
      [maxLabelLength]="existsPieOptions.maxLabelLength" [labels]="existsPieOptions.showLabels"
      [doughnut]="existsPieOptions.isDoughnut">
    </ngx-charts-pie-chart>
  </div>
</div>


<div class="pango-table-form pango-form-section" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="pango-section-heading">
      Values Distribution
    </div>
    <span fxFlex></span>
  </div>
  <div class="pango-section-body" fxLayout="column" fxLayoutAlign="start stretch">
    <ngx-charts-bar-horizontal [results]="stats.annotationFrequencyBar" [view]="annotationFrequencyBarOptions.view"
      [gradient]="annotationFrequencyBarOptions.gradient" [xAxis]="annotationFrequencyBarOptions.showXAxis"
      [yAxis]="annotationFrequencyBarOptions.showYAxis" [legend]="annotationFrequencyBarOptions.legend"
      [showXAxisLabel]="annotationFrequencyBarOptions.showXAxisLabel"
      [maxYAxisTickLength]="annotationFrequencyBarOptions.maxYAxisTickLength"
      [showYAxisLabel]="annotationFrequencyBarOptions.showYAxisLabel"
      [xAxisLabel]="annotationFrequencyBarOptions.xAxisLabel" [yAxisLabel]="annotationFrequencyBarOptions.yAxisLabel">
    </ngx-charts-bar-horizontal>
  </div>
</div>