<div class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="pango-announcement pango-alert alert-warning" fxLayout="row" fxLayoutAlign="center center">
    <div class="pango-announcement-header text-center" fxLayout="row" fxLayoutAlign="center center">

      <strong>PREVIEW SITE ONLY</strong>: PLEASE KEEP CONFIDENTIAL UNTIL PUBLICATION

    </div>
  </div>
  <mat-toolbar fxLayout="row" fxLayoutAlign="start center">
    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
    <a (click)="openLeftDrawer()" class="pango-bars mr-8" aria-label="Close dialog">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </a>
    <div class="pango-logo pl-0 h-100-p" fxLayout="row" fxLayoutAlign="start center" fxFlex="180px">
      <ng-container>
        <a class="pango-main-logo" href="/">
          PAN-GO
        </a>
        <a class="pango-sub-logo" href="/">
          Human Functionome
        </a>
      </ng-container>
    </div>


    <div fxLayout="row" fxHide.lt-md fxLayoutAlign="end center" fxFlex="">
      <div class="pango-br pr-12" fxLayout="row" fxLayoutAlign="start center">
        <a mat-icon-button href="https://github.com/pantherdb/pango" target="blank">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
      </div>
    </div>
    <div class="pango-br pl-12 pr-12" fxHide.lt-md fxLayout="row" fxLayoutAlign="start center">
      <!-- <a mat-button [routerLink]="['/download']">Export</a> -->

      <a mat-button class="pango-icon-button" [matMenuTriggerFor]="exportMenu">
        Download
      </a>
      <mat-menu #exportMenu="matMenu" class="pango-dropdown-menu">
        <a mat-menu-item href="http://data.pantherdb.org/ftp/downloads/pango/export_annotations.zip" class="">
          As CSV
        </a>
        <a mat-menu-item href="http://data.pantherdb.org/ftp/downloads/pango/export_annotations.json.gz" class="">
          As JSON
        </a>
      </mat-menu>

      <a mat-button [routerLink]="['/about']">About</a>
    </div>
    <div class="pango-friends-logo" fxHide.lt-md fxLayout="row" fxLayoutAlign="start">
      <div class="pango-bl pango-logo" fxLayout="row" fxLayoutAlign="start">
        <a href="http://geneontology.org/" target="_blank">
          <img src="assets/images/logos/go-logo-yellow.png">
        </a>
      </div>
      <div class="pango-bl pango-logo" fxLayout="row" fxLayoutAlign="start">
        <a href="http://pantherdb.org" target="_blank">
          <img src="assets/images/logos/panther-logo-yellow.png">
        </a>
      </div>
    </div>

  </mat-toolbar>


</div>