<form class="w-100-p" name="filterForm" [formGroup]="filterForm">
  <mat-form-field
    matTooltip="Explore the human genome by functional category, and find all genes in a given category. Browse the graph of categories, and click to filter the list of annotations to include only those in the selected functional category."
    [matTooltipPosition]="'above'" [matTooltipShowDelay]="1500" appearance="outline"
    class="pango-sm pango-white pango-form-field w-100-p">
    <mat-label>Filter by category, or click on a category below</mat-label>
    <mat-chip-list #slimTermChipList>
      <mat-chip class="pango-form-chip" *ngFor="let slimTerm of annotationService.searchCriteria.slimTerms"
        [selectable]="true" [removable]="true" (removed)="remove(slimTerm, SearchFilterType.SLIM_TERMS)" fxLayout="row"
        fxLayoutAlign="start center" matTooltip="{{slimTerm.label}} ({{slimTerm.id}})" [matTooltipPosition]="'below'"
        [matTooltipShowDelay]="1000">
        <div fxFlex="" class="pango-chip-label">
          {{slimTerm.label}}
        </div>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #searchInput
        [class.pango-disabled-input]="annotationService.searchCriteria[SearchFilterType.SLIM_TERMS].length!==0"
        formControlName="slimTerms" [matAutocomplete]="slimTermAuto" [matChipInputFor]="slimTermChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="false">
    </mat-chip-list>
    <mat-autocomplete #slimTermAuto="matAutocomplete" (optionSelected)="selected($event, SearchFilterType.SLIM_TERMS)"
      [displayWith]="slimTermDisplayFn" class="pango-term-autocomplete">
      <mat-option *ngFor="let item of slimTerms$ | async" [value]="item">
        <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="w-100-p" fxFlex="" fxLayout="column" fxLayoutAlign="start start">
              <div class="pango-cell-title w-100-p" fxLayout="row" fxLayoutAlign="start center">
                {{item.id}}
                <div class="pango-circle-chip pango-chip-xs ml-8 pango-aspect {{aspectMap[item.aspect]?.shorthand}}"
                  fxLayout="column" fxLayoutAlign="center center">
                  <span>{{aspectMap[item.aspect]?.shorthand}}</span>
                </div>
              </div>
              <div class="w-100-p pango-cell-description"> {{item.label}}</div>
            </div>
            <div class="pango-cell-count">
              ({{ item.count }})
            </div>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>