@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

:host {
  display: block;

  .pango-drawer {
    // @include deep-width(300px);
    min-height: calc(100% - 40px);
    // @include mat-elevation(5);
  }

  .pango-checkbox {
    font-size: 12px;
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
  }

  .pango-terms-cell {
    mat-chip {
      display: inline-block !important;
      text-align: center;
      @include deep-height(18px);
      @include deep-width(18px);
      font-size: 8px;
      font-weight: bold;
      padding: 2px;
      &.MF {
        border: $pango-mf solid 1px;
        color: darken($pango-mf, 10%);
      }

      &.BP {
        border: $pango-bp solid 1px;
        color: darken($pango-bp, 10%);
      }

      &.CC {
        border: $pango-cc solid 1px;
        color: darken($pango-cc, 10%);
      }
    }

    .pango-term-cell {
      padding: 8px 0;
      border-bottom: #bbb solid 1px;
    }

    .pango-cell-title {
      font-size: 12px;
    }

    .pango-cell-description-2 {
      color: #777;
      font-style: italic;
    }

    .pango-cell-count {
      @include deep-width(50px);
      font-size: 10px;
      text-align: right;
    }
  }

  .pango-filter-form {
    padding-bottom: 200px;

    .pango-form-section {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    @include deep-height(25px);
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .pango-chip-label {
      padding: 0 8px 0 4px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.pango-form-chip {
      padding: 0;
      @include deep-height(20px);
      font-size: 10px;

      .pango-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #777;
        font-size: 14px;
      }

      @include pango-chip-color(#bbc9cc);
    }
  }

  .pango-form-row {
    .pango-form-field {
      @include deep-width(300px);
    }
  }
}
