<div *ngIf="annotationPage" class="w-100-p h-100-p p-12" fxLayout="row" fxLayoutAlign="start start">
  <!--  <div class="panther-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <div class="panther-sidemenu-header" fxLayout="row" fxLayoutAlign="center center">
      Tools
    </div>
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherMenuService.selectedRightPanel === RightPanel.annotationSearch}"
      (click)="openAnnotationSearch()" matTooltip="Search and Filter" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <div class="panther-label">
        Filter
      </div>
    </button>
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherMenuService.selectedRightPanel === RightPanel.annotationSummary}"
      (click)="openAnnotationSummary()" matTooltip="annotations summary" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'list']"></fa-icon>
      <div class="panther-label">
        Summary
      </div>
    </button>
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherMenuService.selectedRightPanel === RightPanel.annotationStats}"
      (click)="openAnnotationStats()" matTooltip="Results Statistics" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
      <div class="panther-label">
        Stats
      </div>
    </button>
  </div> -->
  <div class="w-100-p h-100-p " fxLayout="column" fxLayoutAlign="start stretch">
    <table fxFlex="1 1 auto" mat-table [dataSource]="dataSource" class="panther-annotation-table">
      <ng-container matColumnDef="gene">
        <th mat-header-cell *matHeaderCellDef class="panther-gene-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Gene
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-gene-cell">
          <div class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
            <div class="w-100-p panther-cell-title">
              <a (click)="$event.stopPropagation()" [routerLink]="'/gene/'+element.gene">
                {{element.gene}}
              </a>
            </div>
            <div class="w-100-p panther-cell-description">{{element.geneSymbol}}</div>
            <div class="w-100-p panther-cell-description-2">{{element.geneName}}</div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="relation">
        <th mat-header-cell *matHeaderCellDef class="panther-relation-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Relation
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-relation-cell">
          {{element.relation}}
        </td>
      </ng-container>
      <ng-container matColumnDef="term">
        <th mat-header-cell *matHeaderCellDef class="panther-term-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Term
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-term-cell">
          <div class="w-100-p panther-cell-title" fxLayout="row" fxLayoutAlign="start center">
            {{element.term.id}}
            <mat-chip class="noc-chip-xs ml-8 noc-aspect {{aspectMap[element.term.aspect]?.shorthand}}"
              fxLayout="column" fxLayoutAlign="center center">
              <span>{{aspectMap[element.term.aspect]?.shorthand}}</span>
            </mat-chip>
          </div>
          <div class="w-100-p panther-cell-description"> {{element.term?.label}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="slimTerms">
        <th mat-header-cell *matHeaderCellDef class="panther-slim-terms-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Slim Terms
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-slim-terms-cell">
          <div class="panther-cell-section w-100-p" *ngFor="let item of element.slimTerms">
            <div class="w-100-p panther-cell-title" fxLayout="row" fxLayoutAlign="start center">
              {{item.id}}
              <mat-chip class="noc-chip-xs ml-8 noc-aspect {{aspectMap[item.aspect]?.shorthand}}" fxLayout="column"
                fxLayoutAlign="center center">
                <span>{{aspectMap[item.aspect]?.shorthand}}</span>
              </mat-chip>
            </div>
            <div class="w-100-p panther-cell-description">
              {{item.label}}
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="evidence">
        <th mat-header-cell *matHeaderCellDef class="panther-evidence-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Evidence
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-evidence-cell">
          <ng-container *ngFor="let item of element.evidence; let i=index">
            <div class="panther-cell-section" *ngIf="i<maxEvidences">
              {{item.withGeneId?.gene}} ({{item.withGeneId?.geneSymbol}})
              <ng-container *ngFor="let reference of item.references; let i=index">
                <div class="panther-cell-inner-section" *ngIf="i<maxReferences">
                  <div class="w-100-p panther-cell-title" fxLayout="row" fxLayoutAlign="start center">
                    {{reference.pmid}}
                  </div>
                  <div class="w-100-p panther-cell-description">
                    {{reference.title}} <small>({{reference.date}})</small>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef class="panther-group-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Group
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-group-cell">
          {{element.group}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; " [ngClass]="{'panther-row-selected': false}"
        (click)="selectAnnotation(row)"></tr>
    </table>
    <mat-paginator *ngIf="annotationPage?.total>0" class="panther-paginator panther-drawer-footer" #paginator
      [length]="annotationPage.total" [pageIndex]="annotationPage.pageNumber" [pageSize]="annotationPage.size"
      (page)="pageEvent = $event; setPage($event)">
    </mat-paginator>
  </div>

</div>
<div *ngIf="annotationService.loading" class="panther-loading-container" fxLayout="column"
  fxLayoutAlign="center center">
  <mat-progress-spinner class="example-margin" [color]="loadingSpinner.color" [mode]="loadingSpinner.mode">
  </mat-progress-spinner>
</div>

<div *ngIf="!annotationPage" class="w-100-p h-100-p" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="panther-no-info">
    No Results
  </div>
</div>