@use "@angular/material" as mat;
@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .pango-sidemenu {
    padding: 0;
    @include deep-height(100%);
    @include deep-width(60px);
    // @include mat-elevation(2);
    border-right: #999 solid 1px;
    background-color: #55407a;

    .pango-sidemenu-header {
      width: 100%;
      padding: 0 5px;
      margin-bottom: 20px;
      @include deep-height(40px);
      @include mat.elevation(2);
      z-index: 1000;
      color: #fff;
    }

    .pango-label {
      text-transform: uppercase;
      font-size: 8px;
      font-weight: bold;
    }

    button {
      @include deep-width(90px);
      @include deep-height(60px);
      line-height: 25px;
      border-radius: 0 !important;

      font-size: 20px;
      // color: rgba(map-get($primary, default), 0.5);
      color: #ddd;

      &.pango-active {
        font-size: 28px;
        color: map-get($primary, default);
        color: #fff;
      }
    }
  }

  .pango-gene-summary {
    padding: 12px;
    .pango-cell-title {
      font-size: 16px;
    }

    .pango-cell-description {
      color: #777;
      font-weight: bold;
    }
    .pango-cell-description-2 {
      font-size: 14px;
    }
  }

  .pango-annotation-table {
    @include deep-width(100%);
    //@include mat-elevation(5);
    border: $pango-border;

    .pango-direct {
      background-color: #e6faf3;
    }

    .mat-header-cell {
      padding: 0 10px;
      font-size: 10px !important;
      font-weight: bold;
      text-transform: uppercase;
    }

    .mat-header-row {
      background-color: #fff;
      @include deep-height(30px);
      border-bottom: $pango-primary-color-light solid 1px;
      z-index: 10;
    }

    .mat-cell,
    .mat-header-cell {
      //display: flex;
      // align-items: center;
      padding: 8px;
      font-size: 10px;

      .pango-cell-section {
        //border-bottom: #aaa solid 1px;
        padding: 8px;

        &:not(:last-child) {
          border-bottom: rgba(map-get($primary, default), 0.3) solid 1px;
        }
      }

      .pango-cell-title {
        font-size: 12px;
      }

      .pango-cell-description {
        color: #000;
        font-weight: normal;
      }

      .pango-cell-description-2 {
        color: #999;
        font-style: italic;
      }

      .pango-cell-coordinates {
        padding: 2px 4px;
        background-color: #523684;
        a {
          font-size: 10px;
          color: #edd776;
        }
      }
      &.pango-gene-cell {
        @include deep-width(200px);
        .pango-cell-title {
          font-size: 12px;
        }

        .pango-cell-description {
          color: #777;
          font-weight: bold;
        }
        .pango-cell-description-2 {
          font-size: 12px;
          text-decoration: none;
        }
      }

      &.pango-gene-symbol-cell {
        @include deep-width(60px);
      }

      &.pango-gene-name-cell {
        @include deep-width(300px);
      }

      &.pango-contributors-cell {
        padding-right: 12px;
        font-size: 12px;
        @include deep-width(150px);

        .pango-cell-description-2 {
          font-size: 12px;
          text-decoration: italics;
        }
      }

      &.pango-term-cell {
        padding-right: 12px;
        font-size: 12px;
        @include deep-width(250px);
      }

      &.pango-slim-terms-cell {
        @include deep-width(300px);
        padding: 0;
      }

      &.pango-aspect-cell {
        @include deep-width(150px);
      }

      &.pango-group-cell {
        @include deep-width(100px);
      }

      &.pango-evidence-cell {
        padding: 0;
        min-width: 200px;
        .pango-cell-inner-section {
          padding-left: 30px;
        }
      }

      &.pango-reference-cell {
        @include deep-width(100px);
      }
    }

    .mat-cell {
      vertical-align: top;
      border-right: map-get($mat-blue-grey, 200) solid 1px;
    }

    mat-chip {
      display: inline-block !important;
      text-align: center;
      @include deep-height(18px);
      @include deep-width(18px);
      font-size: 8px;
      font-weight: bold;
      padding: 2px;
      &.MF {
        border: $pango-mf solid 1px;
        color: darken($pango-mf, 10%);
      }

      &.BP {
        border: $pango-bp solid 1px;
        color: darken($pango-bp, 10%);
      }

      &.CC {
        border: $pango-cc solid 1px;
        color: darken($pango-cc, 10%);
      }
    }
  }

  .pango-table-menu-row {
    height: 60px;
  }

  .pango-drawer {
    @include deep-width(calc(100% - 61px));
  }

  .pango-drawer-body {
    @include deep-height(calc(100% - 90px));
    overflow: auto;
  }

  .mat-cell {
    padding: 0 10px;
    font-size: 12px !important;
    color: #000;
    border-right: #ddd solid 1px;
  }

  .mat-cell,
  .mat-header-cell {
    max-width: 450px;
    word-wrap: break-word;
  }

  .mat-header-cell {
    height: 35px;
    padding: 0 10px;
    font-size: 10px !important;
    color: $pango-header-color;
    font-weight: bold;
    border-right: #aaa solid 1px;

    .pango-rounded-button {
      padding: 0px 8px;
      font-size: 10px;
      color: rgba(#0000ee, 0.6);
      border: rgba(map-get($primary, default), 0.4) solid 1px;

      &:hover {
        color: map-get($primary, default);
        border: map-get($primary, default) solid 1px;
      }
    }

    .pango-count {
      font-weight: normal;
    }
  }

  .mat-header-cell,
  .mat-header-row {
    //padding: 0;
    @include deep-height(35px!important);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    border-bottom: $pango-header-border-bottom; // font-size: 3px !important;
    white-space: nowrap;
    .pango-action-button {
      padding: 0 !important;
      @include deep-height(35px!important);
      @include deep-width(35px!important);
      border-radius: 0 !important;
    }
  }

  .pango-loading-container {
    background-color: rgba(#555, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .pango-form-section {
    width: 100%;
    background-color: #fff;

    input[type="file"] {
      display: none;
    }

    .pango-section-header {
      height: 30px;
      background-color: $pango-primary-color-light;

      .pango-section-heading {
        padding-left: 8px;
        font-size: 12px;
        line-height: 40px;
        color: #555;
      }

      .pango-action-button {
        margin: 0px;
        height: 40px; // line-height: 36px;
      }
    }

    .pango-section-body {
      padding: 5px 5px;
    }
  }
}
