@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$pango-background: map-get($mat-blue-grey, 50);

:host {
  width: 100%;

  .pango-left-drawer {
    width: 500px;
    border-right: #111 solid 1px;

    .pango-menu-section {
      width: 100%;
    }
  }

  .pango-heading {
    font-weight: normal;
    .pango-highlight {
      font-weight: bold;
    }
  }

  pango-summary-stats {
    display: block;
    //@include deep-height(300px !important);
  }

  pango-gene-form {
    // @include deep-width(300px !important);
  }

  pango-annotation-detail {
    @include deep-width(500px !important);
  }
  pango-annotation-summary,
  pango-annotation-stats {
    @include deep-width(600px !important);
  }
}

.pango-section-body {
  background-color: $pango-background;
}

.pango-middle-panel {
  min-height: 500px;
  border-bottom: 200px;
}

.pango-gene-form {
  padding: 15px;
  @include deep-width(500px);
}

.pango-gene-summary {
  .pango-gene-detail-col {
    width: 300px;
    margin-right: 100px;
  }

  .pango-links-col {
    width: 300px;
  }
  .pango-term-row {
    padding: 5px;

    //border-bottom: #6f919b solid 1px;

    .pango-title {
      // font-weight: bold;
      font-size: 12px;
      padding-right: 8px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }

    .pango-description {
      font-size: 12px;
      color: #777;
    }
  }

  padding: 12px;
  .pango-cell-title {
    font-size: 16px;
  }

  .pango-cell-description {
    color: #777;
    font-weight: bold;
  }
  .pango-cell-description-2 {
    font-size: 14px;
  }
}
