<div class="w-100-p" fxLayout="row" fxLayoutAlign="start start">
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start" autosize>

    <mat-drawer #leftDrawer class="pango-right-drawer" mode="side" position="start" opened="true">
      <div class="h-100-p" [ngSwitch]="pangoMenuService.selectedLeftPanel">
        <pango-annotation-detail [panelDrawer]="rightDrawer" *ngSwitchCase="LeftPanel.annotationDetail">
        </pango-annotation-detail>
        <pango-annotation-summary [panelDrawer]="rightDrawer" *ngSwitchCase="LeftPanel.annotationSummary">
        </pango-annotation-summary>
        <pango-annotation-stats [panelDrawer]="rightDrawer" *ngSwitchCase="LeftPanel.annotationStats">
        </pango-annotation-stats>
        <pango-search-form [options]="searchFormOptions" [panelDrawer]="rightDrawer"
          *ngSwitchCase="LeftPanel.annotationSearch">
        </pango-search-form>
      </div>
    </mat-drawer>
    <mat-drawer-content #scrollbarRef class="pango-section-body w-100-p">
      <div class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pango-gene-summary w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="column" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="w-100-p pango-cell-title mr-8">
                {{gene.gene}}
              </div>
              <div class="w-100-p pango-cell-description">{{gene.geneSymbol}}</div>
            </div>
            <div class="w-100-p pango-cell-description-2">{{gene.geneName}}</div>
          </div>
        </div>
        <pango-summary-stats></pango-summary-stats>
        <pango-annotation-table [options]="tableOptions" [maxReferences]="maxReferences" [maxEvidences]="maxEvidences"
          class="w-100-p"></pango-annotation-table>
      </div>
      <div class="w-100-p">
        <pango-footer></pango-footer>
      </div>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="pango-right-drawer" mode="over" position="end">
      <div class="h-100-p" [ngSwitch]="pangoMenuService.selectedRightPanel">
        <pango-annotation-detail [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.annotationDetail">
        </pango-annotation-detail>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>