<div fxLayout="column" fxLayoutAlign="start stretch" class="pango-drawer w-100-p h-100-p">
  <div class="pango-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="pango-drawer-header-title">
      Selected Annotation</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="pango-rounded-button pango-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="pango-drawer-body" fxLayout="row" fxLayoutAlign="start start" pangoPerfectScrollbar>
    <div *ngIf="annotation" class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="pango-annotation-detail-row" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pango-title">
          <div class="">
            Gene
          </div>
        </div>
        <div class="pango-description">
          <div fxLayout="column" fxLayoutAlign="start stretch">
            <div class="pango-item">
              <div class="w-100-p pango-cell-title">
                <a (click)="$event.stopPropagation()" [routerLink]="'/gene/'+ annotation.gene" target="_blank">
                  {{ annotation.gene}}
                </a>
              </div>
              <div class="w-100-p pango-cell-description">{{ annotation.geneSymbol}}</div>
              <div class="w-100-p pango-cell-description-2">{{ annotation.geneName}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="pango-annotation-detail-row" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pango-term-cell">
          <div class="pango-title">
            Term
          </div>
        </div>
        <div class="pango-description">
          <div class="w-100-p pango-cell-title" fxLayout="row" fxLayoutAlign="start center">
            {{ annotation.term.id}}
            <mat-chip class="pango-chip-xs ml-8 pango-aspect {{aspectMap[annotation.term.aspect]?.shorthand}}"
              fxLayout="column" fxLayoutAlign="center center">
              <span>{{aspectMap[annotation.term.aspect]?.shorthand}}</span>
            </mat-chip>
          </div>
          <div class="w-100-p pango-cell-description"> {{ annotation.term?.label}}</div>
        </div>
      </div>
      <div class="pango-annotation-detail-row" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pango-slim-terms-cell">
          <div class="pango-title">
            GO Function Categories
          </div>
        </div>
        <div class="pango-description">
          <div class="pango-cell-section w-100-p" *ngFor="let item of  annotation.slimTerms">
            <div class="w-100-p pango-cell-title" fxLayout="row" fxLayoutAlign="start center">
              {{item.id}}
              <mat-chip class="pango-chip-xs ml-8 pango-aspect {{aspectMap[item.aspect]?.shorthand}}" fxLayout="column"
                fxLayoutAlign="center center">
                <span>{{aspectMap[item.aspect]?.shorthand}}</span>
              </mat-chip>
            </div>
            <div class="w-100-p pango-cell-description">
              {{item.label}}
            </div>
          </div>
        </div>
      </div>
      <div class="pango-annotation-detail-row" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pango-group-cell">
          <div class="pango-title">
            Group
          </div>
        </div>
        <div class="pango-description">
          {{ annotation.group}}
        </div>
      </div>
      <div class="pango-annotation-detail-row" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pango-evidence-cell" fxLayout="row" fxLayoutAlign="start center">
          <div class="pango-title">
            Evidence ({{annotation.evidence?.length}})
          </div>
          <span fxFlex=""></span>

        </div>
        <div class="pango-description">
          <div class="pango-cell-section" *ngFor="let item of  annotation.evidence">
            {{item.withGeneId?.gene}} ({{item.withGeneId?.geneSymbol}})<br>
            ({{item.withGeneId?.geneName}})
            <div class="pango-cell-inner-section" *ngFor="let reference of item.references">
              <div class="w-100-p pango-cell-title" fxLayout="row" fxLayoutAlign="start center">
                {{reference.pmid}}
              </div>
              <div class="w-100-p pango-cell-description">
                {{reference.title}}
              </div>
              <div class="w-100-p pango-cell-description-2">
                {{reference.date}}
              </div>
              <div *ngFor="let author of reference.authors" class="w-100-p pango-cell-description">
                {{author}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--   <div fxLayout="row" fxLayoutAlign="start center" class="pango-drawer-footer pango-submit-row">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div> -->
</div>