@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  a {
    @apply text-primary-600 underline hover:text-primary-300;
  }

  thead tr {
    @apply border-b border-t border-accent-700;
  }

  th {
    @apply h-10 border-r border-gray-300 p-3 text-left font-bold uppercase text-primary-200;
  }

  td {
    @apply border-r border-gray-300 align-top;
  }
}
