@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .pango-drawer {
    @include deep-width(500px !important);
  }

  .pango-annotation-detail-row {
    padding: 5px 10px;
    border-bottom: #888 solid 1px;
    font-size: 12px;

    .pango-no-info {
      padding: 10px 10px;
      font-size: 10px;
    }

    .pango-cell-section {
      //border-bottom: #aaa solid 1px;
      padding: 5px 0;
    }

    .pango-cell-inner-section {
      padding-left: 30px;
    }

    .pango-title {
      color: #999;
      font-size: 18px;
      font-weight: bold;
      padding: 12px 0;
    }

    .pango-description {
      word-break: break-all;
    }

    .pango-item {
      padding: 4px 0;
      border-bottom: #ccc solid 1px;

      &:last-child {
        border-bottom: none;
      }
    }

    .pango-cell-title {
      font-size: 12px;
      font-weight: bold;
    }

    .pango-cell-description {
      font-size: 12px;
    }
    .pango-cell-description-2 {
      font-size: 14px;
    }

    mat-chip {
      text-align: center;
      @include deep-height(22px);
      @include deep-width(22px);
      font-size: 10px;
      font-weight: bold;
      padding: 2px;
      &.MF {
        border: $pango-mf solid 1px;
        color: darken($pango-mf, 10%);
      }

      &.BP {
        border: $pango-bp solid 1px;
        color: darken($pango-bp, 10%);
      }

      &.CC {
        border: $pango-cc solid 1px;
        color: darken($pango-cc, 10%);
      }
    }
  }
}
