<footer class="w-100-p px-12">
  <div class="panther-container">
    <div class="" fxLayout="row" fxLayoutAlign="start start">
      <div class="" fxFlex="25%">
        <img class="panther-panther-logo" src="assets/images/logos/panther-logo.png">
        <p> <strong>&copy; Copyright</strong> Paul Thomas All Rights Reserved.</p>
      </div>
      <span fxFlex=""></span>
      <div class="" fxLayout="column" fxLayoutAlign="start start">
        <ul class="">
          <li><a href="/about.jsp">About</a> </li>
          <li><a href="/releaseInfo.jsp">Release Information</a> </li>
          <li><a href="/feedback.jsp">Contact Us</a> </li>
          <li><a href="/systemRequirements.jsp">System Requirements</a> </li>
          <li><a href="/terms/privacyPolicy.jsp">Privacy Policy</a> </li>
          <li><a href="/terms/disclaimer.jsp">Disclaimer</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>