@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

:host {
  footer {
    padding: 30px 8px;
    background-color: $pango-primary-color;
    color: #f7f7f7;

    .pango-image-logo {
      width: 100%;
    }

    a {
      color: #ffffff;

      &:hover {
        color: #dddddd;
      }
    }
  }
}
