<div class="footer" fxLayout="row" fxLayoutAlign="start start">
  <div class="" style="padding-left: 0px;" fxLayout="row" fxLayoutAlign="start start" fxFlex="50%">
    <div class="mr-16">
      <a href="/" class="" style="color: white !important;">Home</a>
    </div>
    <div class="mr-16">
      <a href="http://help.geneontology.org" class="" style="color: white !important;" target="blank">Contact us</a>
    </div>
    <!-- <div class="mr-16">
      <a href="/docs/go-citation-policy/" class="" style="color: white !important;">Citation and Terms of Use</a>
    </div> -->
  </div>
  <span fxFlex=""></span>
  <div class="" style="text-align: right;" fxFlex="40%">
    <small class="">
      Copyright © 2023 The Gene Ontology Consortium is supported by a U24 grant from the National Institutes of Health
      [grant U24 HG012212]
    </small>
  </div>
</div>