<footer class="w-100-p px-12">
  <div class="panther-container">
    <div class="" fxLayout="row" fxLayoutAlign="start start">
      <div class="" fxFlex="25%">
        <img class="panther-image-logo" src="assets/images/logos/image-logo-yellow.gif">
        <p> <strong>&copy; Copyright</strong> University of Southern California</p>
      </div>
      <span fxFlex=""></span>
      <div class="" fxLayout="column" fxLayoutAlign="start start">
        <ul class="">
          <li><a [routerLink]="['/about']">About</a></li>
          <li><a [routerLink]="['/contact']">Contact Us</a></li>
          <li><a href="https://uscbiostats.github.io/panther-site/" target="_blank">Annotation Documentation</a></li>
          <li><a [routerLink]="['/cookie-policy']">Cookie Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>