<div class="w-100-p" fxLayout="row" fxLayoutAlign="start start">
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start" autosize>
    <mat-drawer #leftDrawer class="pango-left-drawer" mode="side" position="start" opened="true">
      <div fxLayout="column" fxLayoutAlign="start stretch" class="pango-drawer h-100-p">
        <div class="pango-drawer-header" fxLayout="row" fxLayoutAlign="start center">
          <span class="pango-drawer-header-title"> Filter Options</span>
          <span fxFlex></span>
          <button mat-stroked-button type="button" color="warn" class="pango-rounded-button pango-xs mr-8"
            (click)="clearAllFilters()">
            Clear All Filters
          </button>
          <button mat-stroked-button (click)="closeLeftDrawer()" class="pango-rounded-button pango-xs" color="primary"
            aria-label="Close dialog"
            matTooltip="Expand your viewing space by hiding the filter panel and focus on the results. To bring back the panel, simply click the menu icon [hamburger icon] located at the top left corner."
            [matTooltipPosition]="'above'" [matTooltipShowDelay]="3000">
            Close
          </button>
        </div>
        <div class="pango-drawer-body">
          <pango-search-aspect-form></pango-search-aspect-form>
          <pango-category-stats></pango-category-stats>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content #scrollbarRef class="pango-section-body w-100-p">
      <div class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pango-header accent w-100-p" fxLayout="column" fxLayoutAlign="start start">

          <h1>
            Functions of Human Genes
          </h1>
          <h2>
            The table below shows functional characteristics of protein-coding genes that are supported by scientific
            evidence. You can filter the list to find a specific gene or function category.</h2>
          <h3>
            Functional characteristics are described using terms from the Gene Ontology, and describe three distinct
            aspects of gene function: molecular function, biological process, and cellular component.
          </h3>
          <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
            <pango-gene-form> </pango-gene-form>
            <h3 class="ml-12">
              See any missing or incorrect functions? <a href="https://help.geneontology.org/" target="_blank">Let us
                know!</a>
            </h3>
          </div>
        </div>

        <div class="pango-summary-filter-bar" fxLayout="row" fxLayoutAlign="start center">
          <span *ngIf="annotationService.searchCriteria.filtersCount===0" (click)="clearAllFilters()"
            class="pango-no-info">
            No FIlters selected: You can filter the list to find a specific gene or function category.
          </span>

          <ng-container *ngIf="annotationService.searchCriteria.filtersCount>0">
            <small class="mr-12">Filtered By: </small>

            <mat-chip (click)="clearAllFilters()" class="pango-clearall-chip">
              Clear All
            </mat-chip>
          </ng-container>

          <mat-chip *ngIf="annotationService.searchCriteria[SearchFilterType.GENES].length>0" class="pango-filter-chip"
            [removable]="true" (removed)="removeFilter(SearchFilterType.GENES)"
            matTooltip="{{annotationService.searchCriteria.genesTooltip}}" [matTooltipPosition]="'below'"
            [matTooltipShowDelay]="2000">
            Genes <span> ({{
              annotationService.searchCriteria[SearchFilterType.GENES].length}})</span>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <mat-chip *ngIf="annotationService.searchCriteria[SearchFilterType.SLIM_TERMS].length>0"
            class="pango-filter-chip" [removable]="true" (removed)="removeFilter(SearchFilterType.SLIM_TERMS)"
            matTooltip="{{annotationService.searchCriteria.slimTermsTooltip}}" [matTooltipPosition]="'below'"
            [matTooltipShowDelay]="2000">
            GO Function Categories <span> ({{
              annotationService.searchCriteria[SearchFilterType.SLIM_TERMS].length}})</span>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <mat-chip *ngIf="annotationService.searchCriteria[SearchFilterType.ASPECTS].length>0"
            class="pango-filter-chip" [removable]="true" (removed)="removeFilter(SearchFilterType.ASPECTS)"
            matTooltip="{{annotationService.searchCriteria.aspectsTooltip}}" [matTooltipPosition]="'below'"
            [matTooltipShowDelay]="2000">
            Aspects <span> ({{
              annotationService.searchCriteria[SearchFilterType.ASPECTS].length}})</span>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

        </div>
        <pango-summary-stats></pango-summary-stats>
        <pango-annotation-group class="w-100-p" [annotationPage]="annotationPage"></pango-annotation-group>
      </div>
      <div class="w-100-p">
        <pango-footer></pango-footer>
      </div>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="pango-right-drawer" mode="over" position="end">
      <div class="h-100-p" [ngSwitch]="pangoMenuService.selectedRightPanel">
        <pango-annotation-detail [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.annotationDetail">
        </pango-annotation-detail>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>