@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

:host {
  padding-top: 8px;
  width: 100%;

  .pango-form-secion {
    .pango-with-group {
      border: #74725c solid 1px;
      margin-bottom: 16px;
    }
  }

  .pango-article-info {
    padding: 12px 5px;

    .pango-article-title {
      font-size: 12px;
      max-height: 60px;
      overflow: hidden;
    }

    .pango-article-author {
      max-height: 60px;
      overflow: hidden;
    }

    .pango-article-date {
    }
  }
}
