<div *ngFor="let annotationGroup of annotationGroups">
  <div class="pango-cell  w-100-p" fxLayout="column" fxLayoutAlign="start start">
    <div class="pango-gene-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="150px" class="pango-cell-description">
        <a [routerLink]="'/gene/'+annotationGroup.gene?.gene" target="_blank">
          {{annotationGroup.gene?.geneSymbol}}
        </a>
        (<a [href]="taxonApiUrl+annotationGroup.gene?.taxonId" target="_blank">
          {{annotationGroup.gene?.taxonAbbr}}
        </a> )
      </div>
      <span fxFlex></span>
      <div class="pango-cell-title mr-8">
        <a href="{{getUniprotLink(annotationGroup.gene?.gene)}}" target="_blank">
          {{annotationGroup.gene?.gene}}
        </a>
      </div>
    </div>
    <div class="w-100-p pango-cell-description-2">{{annotationGroup.gene?.geneName}}</div>

    <div *ngIf="annotationGroup.gene?.coordinatesChrNum" class="pango-cell-coordinates">
      <a [href]="getUcscLink(annotationGroup)" target="_blank">
        chr{{annotationGroup.gene?.coordinatesChrNum}}:{{annotationGroup.gene?.coordinatesStart}}-{{annotationGroup.gene?.coordinatesEnd}}
      </a>
    </div>
    <div *ngIf="annotationGroup.gene?.pantherFamily" class="w-100-p pango-cell-title mr-8">
      <a [href]="getFamilyLink(annotationGroup)" target="_blank">
        {{annotationGroup.gene?.pantherFamily}}
      </a>
    </div>
    <div class="pango-gene-terms w-100-p" fxLayout="column" fxLayoutAlign="start start">

      <div *ngFor="let term of annotationGroup.gene.termsSummary" class="pango-gene-term pango-cell-title w-100-p">
        <span class="pango-circle-chip pango-chip-xs pango-aspect {{aspectMap[term.aspect]?.shorthand}}"
          fxLayout="column" fxLayoutAlign="center center">
          {{aspectMap[term.aspect]?.shorthand}}
        </span>
        <span class="pango-cell-description mr-4"> {{term.label}}
          <span *ngIf="term.displayId" class="pango-cell-description-2">
            <a href="{{amigoTermUrl}}{{term.id}}" target="_blank">{{term.displayId}}</a>
          </span>
        </span>
      </div>
    </div>
    <div class="pango-gene-footer w-100-p" fxLayout="row" fxLayoutAlign="start center">
      <span fxFlex></span>
      <button mat-stroked-button type="button" class="pango-rounded-button pango-xs mr-8"
        (click)="selectAnnotationGroup(annotationGroup)">
        View {{annotationGroup.annotations.length}} Annotations
      </button>
    </div>
  </div>
</div>