<div *ngIf="annotationPage" class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <!--  <div class="panther-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <div class="panther-sidemenu-header" fxLayout="row" fxLayoutAlign="center center">
      Tools
    </div>
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherMenuService.selectedRightPanel === RightPanel.annotationSearch}"
      (click)="openAnnotationSearch()" matTooltip="Search and Filter" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <div class="panther-label">
        Filter
      </div>
    </button>
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherMenuService.selectedRightPanel === RightPanel.annotationSummary}"
      (click)="openAnnotationSummary()" matTooltip="annotations summary" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'list']"></fa-icon>
      <div class="panther-label">
        Summary
      </div>
    </button>
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherMenuService.selectedRightPanel === RightPanel.annotationStats}"
      (click)="openAnnotationStats()" matTooltip="Results Statistics" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
      <div class="panther-label">
        Stats
      </div>
    </button>
  </div> -->
  <div class="w-100-p h-100-p " fxLayout="column" fxLayoutAlign="start streych">

    <table fxFlex="1 1 auto" mat-table [dataSource]="dataSource" class="panther-gene-table">
      <ng-container matColumnDef="gene">
        <th mat-header-cell *matHeaderCellDef class="panther-gene-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                gene
              </div>
              <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-gene-cell">
          {{element.gene}}
        </td>
      </ng-container>
      <ng-container matColumnDef="geneSymbol">
        <th mat-header-cell *matHeaderCellDef class="panther-annotation-symbol-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Annotation Symbol
              </div>
              <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-annotation-symbol-cell">
          {{element.geneSymbol}}
        </td>
      </ng-container>
      <ng-container matColumnDef="geneName">
        <th mat-header-cell *matHeaderCellDef class="panther-annotation-name-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Annotation Name
              </div>
              <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-annotation-name-cell">
          {{element.geneName}}
        </td>
      </ng-container>
      <ng-container matColumnDef="relation">
        <th mat-header-cell *matHeaderCellDef class="panther-relation-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Relation
              </div>
              <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
            </div>
            <button mat-button color=""
              class="panther-rounded-button panther-xs mr-4 panther-half-button panther-r ml-12"
              (click)="addExistFilter('relation')" matTooltip="Filter" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'filter']"></fa-icon>
            </button>
            <button mat-button color="" class="panther-rounded-button  panther-xs mr-4 panther-half-button panther-l"
              (click)="getStats('relation')" matTooltip="Results Statistics for relation" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-relation-cell">
          {{element.relation}}
        </td>
      </ng-container>
      <ng-container matColumnDef="term">
        <th mat-header-cell *matHeaderCellDef class="panther-term-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Term
              </div>
              <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
            </div>
            <button mat-button color=""
              class="panther-rounded-button panther-xs mr-4 panther-half-button panther-r ml-12"
              (click)="addExistFilter('term')" matTooltip="Filter" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'filter']"></fa-icon>
            </button>
            <button mat-button color="" class="panther-rounded-button  panther-xs mr-4 panther-half-button panther-l"
              (click)="getStats('term')" matTooltip="Results Statistics for term" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-term-cell">
          ({{element.term?.id}})
          {{element.term?.label}}
        </td>
      </ng-container>
      <ng-container matColumnDef="slimTerms">
        <th mat-header-cell *matHeaderCellDef class="panther-slim-terms-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Slim Terms
              </div>
              <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
            </div>
            <button mat-button color=""
              class="panther-rounded-button panther-xs mr-4 panther-half-button panther-r ml-12"
              (click)="addExistFilter('term')" matTooltip="Filter" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'filter']"></fa-icon>
            </button>
            <button mat-button color="" class="panther-rounded-button  panther-xs mr-4 panther-half-button panther-l"
              (click)="getStats('term')" matTooltip="Results Statistics for term" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-slim-terms-cell">
          <div *ngFor="let item of element.slimTerms">
            ({{item.id}})
            {{item.label}}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="aspect">
        <th mat-header-cell *matHeaderCellDef class="panther-aspect-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Aspect
              </div>
              <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
            </div>
            <button mat-button color=""
              class="panther-rounded-button panther-xs mr-4 panther-half-button panther-r ml-12"
              (click)="addExistFilter('aspect')" matTooltip="Filter" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'filter']"></fa-icon>
            </button>
            <button mat-button color="" class="panther-rounded-button  panther-xs mr-4 panther-half-button panther-l"
              (click)="getStats('aspect')" matTooltip="Results Statistics for aspect" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-aspect-cell">
          {{element.aspect}}
        </td>
      </ng-container>
      <ng-container matColumnDef="evidence">
        <th mat-header-cell *matHeaderCellDef class="panther-evidence-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Evidence
              </div>
              <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
            </div>
            <button mat-button color=""
              class="panther-rounded-button panther-xs mr-4 panther-half-button panther-r ml-12"
              (click)="addExistFilter('evidence')" matTooltip="Filter" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'filter']"></fa-icon>
            </button>
            <button mat-button color="" class="panther-rounded-button  panther-xs mr-4 panther-half-button panther-l"
              (click)="getStats('evidence')" matTooltip="Results Statistics for evidence" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-evidence-cell">
          <div *ngFor="let item of element.evidence">
            ({{item.withGeneId}})
            <div *ngFor="let reference of item.references">
              {{reference}}
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef class="panther-group-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Aspect
              </div>
              <a class="panther-count" (click)="addExistFilter(column)">(20)</a>
            </div>
            <button mat-button color=""
              class="panther-rounded-button panther-xs mr-4 panther-half-button panther-r ml-12"
              (click)="addExistFilter('group')" matTooltip="Filter" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'filter']"></fa-icon>
            </button>
            <button mat-button color="" class="panther-rounded-button  panther-xs mr-4 panther-half-button panther-l"
              (click)="getStats('group')" matTooltip="Results Statistics for group" [matTooltipPosition]="'after'"
              [matTooltipShowDelay]="1500">
              <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="panther-group-cell">
          {{element.group}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'panther-row-selected': false}"
        (click)="selectAnnotation(row)"></tr>
    </table>
    <mat-paginator *ngIf="annotationPage?.total>0" class="panther-paginator panther-drawer-footer" #paginator
      [length]="annotationPage.total" [pageIndex]="annotationPage.pageNumber" [pageSize]="annotationPage.size"
      (page)="pageEvent = $event; setPage($event)">
    </mat-paginator>
  </div>

</div>
<div *ngIf="annotationService.loading" class="panther-loading-container" fxLayout="column"
  fxLayoutAlign="center center">
  <mat-progress-spinner class="example-margin" [color]="loadingSpinner.color" [mode]="loadingSpinner.mode">
  </mat-progress-spinner>
</div>

<div *ngIf="!annotationPage" class="w-100-p h-100-p" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="panther-no-info">
    No Results
  </div>
</div>