<div *ngIf="annotationPage" class="w-100-p h-100-p p-12" fxLayout="column" fxLayoutAlign="start start">
  <div class="w-100-p py-12" fxLayout="row" fxLayoutAlign="end center">
    <button (click)="downloadFile()" type="button" mat-raised-button color="primary">
      Download
    </button>
    <button (click)="downloadAll()" type="button" mat-raised-button color="primary">
      Download All
    </button>
  </div>
  <div class="w-100-p h-100-p " fxLayout="column" fxLayoutAlign="start stretch">
    <table fxFlex="1 1 auto" mat-table [dataSource]="dataSource" class="pango-annotation-table">
      <ng-container matColumnDef="gene">
        <th mat-header-cell *matHeaderCellDef class="pango-gene-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div>
              Gene
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="pango-gene-cell">
          <div class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
            <div class="w-100-p pango-cell-description">
              {{element.gene}}
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="geneSymbol">
        <th mat-header-cell *matHeaderCellDef class="pango-gene-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div>
              Gene Symbol
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="pango-gene-cell">
          <div class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
            <div class="w-100-p pango-cell-description">
              {{element.geneSymbol}}
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="termId">
        <th mat-header-cell *matHeaderCellDef class="pango-term-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Annotated GO Term ID
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="pango-term-cell">
          <div class="w-100-p">
            <div class="w-100-p pango-cell-description">
              {{element.term.id}}
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="termLabel">
        <th mat-header-cell *matHeaderCellDef class="pango-term-cell">
          <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start center">
            <div class="h-100-p" fxLayout="column" fxLayoutAlign="center start">
              <div>
                Annotated GO Term Label
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="pango-term-cell">
          <div class="w-100-p">
            <div class="w-100-p pango-cell-description">
              {{element.term.label}}
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; "
        [ngClass]="{'pango-row-selected': false, 'pango-direct':row.evidenceType==='direct'}"
        (click)="selectAnnotation(row)">
      </tr>

    </table>
    <mat-paginator *ngIf="annotationPage?.total>0" class="pango-paginator pango-drawer-footer" #paginator
      [length]="annotationPage.total" [pageIndex]="annotationPage.pageNumber" [pageSize]="annotationPage.size"
      (page)="pageEvent = $event; setPage($event)">
    </mat-paginator>
  </div>

</div>
<div *ngIf="annotationService.loading" class="pango-loading-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner class="example-margin" [color]="loadingSpinner.color" [mode]="loadingSpinner.mode">
  </mat-progress-spinner>
</div>

<div *ngIf="!annotationPage" class="w-100-p h-100-p" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="pango-no-info">
    No Results
  </div>
</div>